<h3 [id]="lesson.title">{{lesson.title}}</h3>
<ng-container *ngFor="let lessonItem of lesson.items"
              [ngSwitch]="lessonItem.type"
>
  <app-text *ngSwitchCase="'text'" [text]="lessonItem" class="lesson-item"></app-text>
  <app-image *ngSwitchCase="'image'" [image]="lessonItem" class="lesson-item"></app-image>
  <app-code *ngSwitchCase="'code'" [code]="lessonItem" class="lesson-item"></app-code>
  <app-task2 *ngSwitchCase="'task'" [task]="lessonItem" class="lesson-item"></app-task2>
  <div *ngSwitchDefault class="lesson-item">{{lessonItem | json}}</div>
</ng-container>
