<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side"
               [opened]="true"
               [fixedInViewport]="true"
               [fixedTopGap]="64"
               class="sidenav"
  >
    <ul>
      <li routerLink="/study/3">Массивы</li>
      <li routerLink="/study/2">Part 2</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="book-container">
    <div class="book-content">
      <div class="book-container--inner">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="developer-panel">
      <div class="task-container">task</div>
      <div class="code-editor-container">code-editor</div>
      <div class="console-container">console</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
