<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side"
               [opened]="true"
               [fixedInViewport]="true"
               [fixedTopGap]="64"
               class="sidenav">
    <app-content-structure [currentSectionId]="sectionId"></app-content-structure>
  </mat-sidenav>
  <mat-sidenav-content class="book-container">
    <div class="book-content">
      <div class="book-container--inner">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="developer-panel">
      <app-active-task
        *ngIf="($activeTask | async) as activeTask"
        [task]="activeTask"
        @activeTaskState
        class="task-container"></app-active-task>
      <app-code-editor class="code-editor-container"></app-code-editor>
      <app-console class="console-container"></app-console>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
