:host{
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}



.console-wrapper{
  position: absolute;
  transform: rotate(180deg);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;

  .console-container{
    width: 100%;
    min-height: 100%;
    transform: rotate(180deg);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    overflow-y: auto;
    //padding-right: -27px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
    div{

      color: whitesmoke;

      .caret{
        color: #cccc;
        font-size: 12px;
      }

      .last-caret{
        color: white;
      }
    }

  }
}

